body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
}

button:hover {
    background-color: #0056b3;
}

#quizList, #quizContainer {
    margin: 20px;
}

#quizForm {
    margin: 20px;
}

#questionsContainer {
    margin-top: 10px;
}

h1 {
    margin: 0;
}
